/* СТИЛИ СТРАНИЦЫ С ТРАНЗАКЦИЯМИ */
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ДАТА ТРАНЗАКЦИИ */
.tx_date {
  display: inline;
  float: left;
  text-align: left;
  color: #000000;
}

/* СУММА ТРАНЗАКЦИИ */
.tx_ammount {
  display: inline;
  float: right;
  text-align: right;
  color: #000000;
}

/* СУММА ТРАНЗАКЦИИ ЕСЛИ МИНУС */
.tx_ammount_minus {
  display: inline;
  float: right;
  text-align: right;
  color: red;
}

/* ХЭШ ТРАНЗАКЦИИ */
.tx_hash {
  display: inline-block;
  text-align: center;
  margin: auto 1%;
}

/* ЦВЕТ ССЫЛКИ НА ХЭШ ДО НАВЕДЕНИЯ */
.hash_link {
  color: #000000;
  overflow-wrap: anywhere; /* делает длинный хэш адаптивным */
}

/* ЦВЕТ ССЫЛКИ НА ХЭШ ПОСЛЕ НАВЕДЕНИЯ */
.hash_link:hover {
  color: #0d6efd;
}

/* БЛОК ДАННЫХ ОБ АДРЕСЕ */
#address_container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 50% 50%;
  gap: 0px;
  height: 100%;
}
/* СЕТКА В БЛОКЕ ДАННЫХ ОБ АДРЕСЕ */
#grid_0 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
}

#grid_1 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* QRCode */
.qr_code {
  width: 150px;
  height: 150px;
}

/* Адрес */
.address {
  width: auto;
  color: #000000;
  overflow-wrap: anywhere;
}

/* Балланс */
.balance {
  color: #008000;
}

/* Количество транзакций */
.numTx {
  color: #000000;
  overflow-wrap: anywhere;
  margin-top: auto;
}

/* ПАГИНАЦИЯ */
.pagination_wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  height: 38px;
}

.pagination_container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  overflow: auto;
  padding: 5px 0;
}

.container_home_page {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: 50%;
  gap: 0px 0px;
}

/* БЛОК ДАННЫХ ОБ АДРЕСЕ */
#price_container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  width: 100%;
  padding: 0;
  height: 545px;
}

/* ОБЩИЙ КОНТЕЙНЕР ДЛЯ ВСЕГО */
.main_page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* КОНТЕЙНЕР ДЛЯ КОНТЕНТА */
.main_container {
  margin-top: auto;
  margin-bottom: auto;
}
